@charset "utf-8";

html {
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans","Noto Sans JP",Meiryo,sans-serif;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    font-feature-settings: "palt";
}

body {
    margin: 0;
    background-color: #d3e9e9;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
    transition: visibility 1s, opacity 1s;
    * {
        box-sizing: inherit;
    }
    &.show {
        visibility: visible;
        opacity: 1;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: linear-gradient(to right, #20b2aa, #2f4f4f);
    color: #fff;
    h1 {
        margin: 0 10px 0 0;
    }
    nav {
        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                margin: 0 10px;
                a {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

main {
    text-align: center;
}
