<<<<<<< HEAD
/* No CSS */
=======
html {
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans","Noto Sans JP",Meiryo,sans-serif;
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: #d3e9e9;
}

body * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#20b2aa), to(#2f4f4f));
  background-image: linear-gradient(to right, #20b2aa, #2f4f4f);
  color: #fff;
}

header h1 {
  margin: 0 10px 0 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  text-align: center;
}
>>>>>>> parent of 68fb664 (Merge pull request #4 from s-tomitsuka/sub)
